body {
    font-family: verdana, ​arial, ​helvetica, ​ sans-serif;
    font-size: 13px;
    //background-color: #363736;
    background: #363736;
    background: -moz-linear-gradient(top, #000000 0%, #7d7e7d 30%, #7d7e7d 50%, #7d7e7d 70%, #0e0e0e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(30%, #7d7e7d), color-stop(50%, #7d7e7d), color-stop(70%, #7d7e7d), color-stop(100%, #0e0e0e));
    background: -webkit-linear-gradient(top, #000000 0%, #7d7e7d 30%, #7d7e7d 50%, #7d7e7d 70%, #0e0e0e 100%);
    background: -o-linear-gradient(top, #000000 0%, #7d7e7d 30%, #7d7e7d 50%, #7d7e7d 70%, #0e0e0e 100%);
    background: -ms-linear-gradient(top, #000000 0%, #7d7e7d 30%, #7d7e7d 50%, #7d7e7d 70%, #0e0e0e 100%);
    background: linear-gradient(to bottom, #000000 0%, #7d7e7d 30%, #7d7e7d 50%, #7d7e7d 70%, #0e0e0e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#0e0e0e', GradientType=0);
}
table {
    font-size: 13px;
}
#container {
    //background-color: white;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    background-color: white;
}
.playerCells > td {
    width: 425px;
    height: 358px;
}
.playerCells > td {
    width: 425px;
    height: auto;
}
.playerCells td {
    position: relative;
    padding-bottom: 25%; //56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.playerCells iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
td {
    padding-bottom: 0px;
}
.centerElement {
    margin-left: auto;
    margin-right: auto;
}
input[name="textArea"] {
    width: 99%;
}
input[name="number"] {
    min-width: 8%;
    max-width: 15%;
}
/*#groupVolume {
    float: left;
    clear: both;
    width: 70%;
}*/
input[type="button"][id^="mute"] {
    float: right;
    clear: both;
}
#lastModified {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
    background-color: white;
    border-left: 1px solid black;
    border-top: 1px solid black;
}
.brokenVideo {
    outline: red solid 5px;
}
